<div class="row z-depth-4">
  <h2>Signup</h2>
  <form class="col s12" action="/auth/signup" method="POST">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        <label for="icon_prefix">username</label>
        <input id="icon_prefix" type="text" class="validate" name="username">

      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix">email</i>
        <label for="icon_email">email</label>
        <input id="icon_email" type="text" class="validate" name="email">

      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix">lock</i>
        <label for="icon_lock">password</label>
        <input id="icon_lock" type="password" class="validate" name="password">

      </div>
      </div>
      <% if (typeof(message) !== "undefined") { %>
      <div class="error-message">
        <%= message %>
      </div>
      <% } %>

    <button class="waves-effect btn-flat">Create account</button>
  </form>
